<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="disposable_email_validator" translate="label" type="text" sortOrder="100"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Disposable Email Validator</label>
                <field id="validate_customer_registration" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Validate Customer Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Block disposable emails during customer account creation.</comment>
                </field>
                <field id="blocked_domains" translate="label comment" type="textarea" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Blocked Domains</label>
                    <comment>One domain per line (e.g., tempmail.com). These will be added to the built-in blocklist.</comment>
                </field>
                <field id="allowed_domains" translate="label comment" type="textarea" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed Domains (Whitelist)</label>
                    <comment>One domain per line. These domains will bypass validation even if in blocklist.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
